*{
     margin:0;
     padding:0;
     box-sizing:border-box;
}
.carousel-item img{
                 width:100%;
                 height:50vh;

}
.navbar-brand{
   
    background-color: aqua;
}


.fa-instagram {  
    background: #125688;  
    color: white;  
}

.circular--square {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
  }
  .circular--square {
    border-radius: 50%;
  }


 